<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div style="width: 600px; margin-top: 50px; margin-left: auto; margin-right: auto; padding: 20px;">
    <div class="alert alert-success">
        <h1>
            <strong> Menu dodawanie nowego lotu do bazy </strong>
        </h1>
    </div>
    <form action="/addFlight" method="post" th:object="${flightForm}">
        <input th:field="*{flightNumber}" type="text" class="form-control" placeholder="Numer Lotu">
        <input th:field="*{flightPrice}" type="text" class="form-control" placeholder="Cena lotu">

        <button type="submit" class="btn btn-default">Dodaj lot</button>

    </form>

    <div style="text-align: center">
        <button onclick="javascript:location.href = '/allFlight'" class="btn btn-primary">Pokaż listę lotów</button>
    </div>
</div>
</body>
</html>