<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista lotów</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div style="text-align: center">
    <div class="alert alert-success">
        <h1>
            <strong>Lista lotów</strong>
        </h1>
        <h6>
            <strong>(Kliknij na lot, aby wyświetlić szczegóły )</strong>
        </h6>
    </div>
</div>

<div style="width: 400px; margin-top: 10px; margin-left: auto; margin-right: auto">
    <div th:if="${flightDeleted != null}" class="alert alert-danger">
        <strong th:text="${flightDeleted}"></strong>
    </div>
    <div th:if="${flightAdd != null}" class="alert alert-success">
        <strong th:text="${flightAdd}"></strong>
    </div>

</div>


<div style="width: 400px; margin-top: 50px; margin-left: auto; margin-right: auto; text-align: center">
    <div class=" alert alert-info" th:each="flight : ${flights}">
        <a th:href="'allFlight/'+${flight.getId()}">
            Lot  <h3 class="alert-heading" th:text="${flight.getId()}"></h3>
        </a>
    </div>
</div>
<div style="text-align: center">
    <button  onclick="javascript:location.href = '/addFlight'" class="btn btn-primary">Dodaj nowy lot</button>
</div>

<div style="text-align: center">
    <button onclick="javascript:location.href = '/'" class="btn btn-success">Powrót do WelcomePage</button>
</div>


</body>
</html>