<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista turystów</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div style="text-align: center">
    <div class="alert alert-success">
        <h1>
            <strong>Lista turystów</strong>
        </h1>
        <h6>
            <strong>(Kliknij na nazwisko, aby wyświetlić turyste )</strong>
        </h6>
    </div>
</div>

<!--<div th:if="${touristDeleted != null}" class="alert alert-success">-->
    <!--<strong th:text="${touristDeleted}"></strong>-->
<!--</div>-->

<!--<div th:if="${touristUpdate != null}" class="alert alert-success">-->
    <!--<strong th:text="${touristUpdate}"></strong>-->
<div style="width: 400px; margin-top: 50px; margin-left: auto; margin-right: auto; text-align: center">
    <div class=" alert alert-danger" th:each="tourist : ${tourists}">
        <a th:href="'allTourist/'+${tourist.getId()}">
            Nazwisko  <h3 class="alert-heading" th:text="${tourist.getLastname()}"></h3>
        </a>
    </div>
</div>
<div style="text-align: center">
    <button  onclick="javascript:location.href = '/tourist'" class="btn btn-primary">Powrót do menu dodawania nowego turysty</button>
</div>
</body>
</html>