<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Numer dodany</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div style="text-align: center">
    <div class="alert alert-success">
        <h1>
            <strong> Numer został dodany!!!</strong>
        </h1>
    </div>
</div>
<div style="text-align: center">
    <button  onclick="javascript:location.href = '/tourist'" class="btn btn-primary">Powrót do menu dodawania nowego turysty</button>
</div>
<div style="text-align: center">
    <button onclick="javascript:location.href = '/allTourist'" class="btn btn-primary">Pokaż listę turystów</button>
</div>
</body>
</html>