<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły lotu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div style="width: 400px; margin-top: 10px; margin-left: auto; margin-right: auto">

    <div th:if="${flightUpdate != null}" class="alert alert-success">
        <strong th:text="${flightUpdate}"></strong>
    </div>

</div>
<div class="card-body" style="text-align: center; border: blue dot-dot-dash 2px">

    Cena biletu: <h1 th:text="${flightDetails.getFlightPrice()}"></h1>
    Liczba miejsc: <h1 th:text="${flightDetails.getNumberSeats()}"></h1>
    departureTime : <h1 th:text="${flightDetails.getDepartureTime()}"></h1>
    arrivalTime : <h1 th:text="${flightDetails.getArrivalTime()}"></h1>
    <!--todo:wyświetlanie turystów -->
    Turysta:
    <div  th:each="tourist : ${tourists}">
        <h1 th:text="${tourist.getId()}"></h1>
    </div>


</div>

<div style="text-align: center">
    <button th:onclick="'javascript:location.href =\'/deleteFlight/' + ${flightDetails.getId()} + '\''"
            class="btn btn-danger" style="width:40%">Usuń lot
    </button>
    <button th:onclick="'javascript:location.href =\'/editFlight/' + ${flightDetails.getId()} + '\''"
            class="btn btn-primary" style="width:40%">Edytuj lot
    </button>
</div>
<div style="text-align: center">
    <button onclick="javascript:location.href = '/addFlight'" class="btn btn-primary">Powrót do menu dodawania nowego
        lotu
    </button>
</div>
<div style="text-align: center; padding: 5px">
    <button onclick="javascript:location.href = '/allFlight'" class="btn btn-primary">Pokaż listę lotów</button>
</div>


</body>
</html>