<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły turysty</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div style="width: 400px; margin-top: 10px; margin-left: auto; margin-right: auto">

    <div th:if="${touristUpdate != null}" class="alert alert-success">
        <strong th:text="${touristUpdate}"></strong>
    </div>

</div>
<div class="card-body" style="text-align: center; border: blue dot-dot-dash 2px">
    Imię: <h4 th:text="${touristDetails.getFirstname()}"></h4>
    Nazwisko: <h4 th:text="${touristDetails.getLastname()}"></h4>
    Państwo: <h1 th:text="${touristDetails.getCountry()}"></h1>
    Uwagi: <h1 th:text="${touristDetails.getRemarks()}"></h1>
    Płeć: <h1 th:text="${touristDetails.getGender()}"></h1>
    Data Urodzenia: <h1 th:text="${touristDetails.getDateBirth()}"></h1>

    <div style="text-align: center">
        <button onclick="javascript:location.href = '/addTouristToFlight'" class="btn btn-primary">addTouristToFlight
        </button>
    </div>
    Lot:
    <div  th:each="flight : ${flightDetails}">
        <h1 th:text="${flight.getId()}"></h1>
    </div>


    <!--<select th:field="*{flight}">-->
        <!--<option th:each="flight : ${flights}"-->
                <!--th:value="${flight}"-->
                <!--th:text="${flight.getId()}">Lot</option>-->
    <!--</select>-->

</div>

<div style="text-align: center">
    <button th:onclick="'javascript:location.href =\'/deleteTourist/' + ${touristDetails.getId()} + '\''"
            class="btn btn-danger" style="width:40%">Usuń post
    </button>
    <button th:onclick="'javascript:location.href =\'/editTourist/' + ${touristDetails.getId()} + '\''"
    class="btn btn-primary" style="width:40%">Edytuj post
    </button>
</div>
<div style="text-align: center">
    <button onclick="javascript:location.href = '/addTourist'" class="btn btn-primary">Powrót do menu dodawania nowego
        turysty
    </button>
</div>
<div style="text-align: center; padding: 5px">
    <button onclick="javascript:location.href = '/allTourist'" class="btn btn-primary">Pokaż listę turystów</button>
</div>


</body>
</html>