<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FlightManager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<!--<div style="width: 400px; margin-top: 10px; margin-left: auto; margin-right: auto; text-align: center">-->
<!--<div th:if="${infoLogout != null}" class="alert alert-success">-->
<!--<strong th:text="${infoLogout}"></strong>-->
<!--</div>-->
<!--</div>-->
<div style="text-align: center; margin-top: 200px; font-size: 80px">
    <font color="#228B22">Witaj w FlightManager</font>
</div>
<div style="text-align: center; margin-top: 100px; font-size:50px">
    <font color="#9ACD32">Lista turystów + lista lotów</font>
</div>
<div style="width: 400px; margin-top: 10px; margin-left: auto; margin-right: auto">
    <div class="btn-group" style="text-align: center">
        <button onclick="javascript:location.href = '/allTourist'" class="btn btn-primary">Pokaż listę turystów</button>
        <button onclick="javascript:location.href = '/allFlight'" class="btn btn-secondary">Pokaż listę lotów</button>
        <button onclick="javascript:location.href = '/register'" class="btn btn-info">Rejestracja użytkownika</button>
        <button onclick="javascript:location.href = '/login'" class="btn btn-success">Logowanie</button>
    </div>
</div>
</body>
</html>